<?xml version="1.0"?>
<launch>
    <node name="mvo_node" pkg="mvo" type="mvo_node" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mvo)/cfg/rviz_test.rviz" />
    <node name = "my_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen"/>
</launch>